<table class="table table-hover table-striped">
    <tr>
      <th>Номер місяця</th>
      <th>Погашення кредиту</th>
      <th>Погашення %</th>
      <th>Загальний внесок</th>
      <th>Залишок кредиту</th>
    </tr>
  <% @months.each_with_index do |(credit_payment, percentages_payment, full_payment, ammount_left), month| %>
    <tr>
      <td> <%= month + 1 %></td>
      <td> <%= credit_payment.round(2) %></td>
      <td> <%= percentages_payment.round(2) %></td>
      <td> <%= full_payment.round(2) %></td>
      <td> <%= ammount_left.round(2) %></td>
    </tr>
  <% end %>
    <tr>
      <td></td>
      <% (0..2).each do |value| %>
        <td><%= sum_round(@months, value) %></td>
      <% end %>
      <td></td>
    </tr>
</table>
